.comments{
  width: 100%;
  background-color: #b2dad0;
  display: flex;
  // margin-top: -6px;
  padding-top: 0;;

  &-slider{
    width: 97%;
  }

  &__title{
    font-family: $font-p;
    font-size: 20px;
    // line-height: 30px;
    font-weight: normal;
    color: #212027;

    @media ( min-width: $screen-md){
      font-size: 30px;
    }
  }

  &__img{
    width: 60px;
    height: 60px;
    display: inline-block;

    @media ( min-width: $screen-sm){
      width: 105px;
      height: 95px;
    }

    @media ( min-width: $screen-md){
      width: 170px;
      height: 150px;
    }
  }

  &__name{
    color: #212027;
    font-family: $font-h;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    width: 60px;

    @media ( min-width: $screen-sm){
      width: 100%;
    }

    @media ( min-width: $screen-md){
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__text{
    font-family: $font-h;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    color: #4d4b5c;
    width: 80%;
    // width: 180px;
    margin-left: 40px;
    text-align: right;

    @media ( min-width: $screen-md){
      font-size: 16px;
      line-height: 24px;
      width: 275px;
    }
    // margin-left: 45px;
  //   background-image: url("../../img/message.png");
  //   background-position: -10px -10px;
  // background-repeat: no-repeat;
  }
}

// SLIDER COMMENTS SLICK
.comments-slider .slick-next:after{
    display: none;
    outline: none;
}

.comments-slider .slick-next:before{
    display: none;
    outline: none;
}

.comments-slider .slick-arrow {
  display: none;
  outline: none;
}

.slick-dots li{
  width: 15px;
  height: 15px;
  background-color: #b2dad0;
}

// .slick-dots li .slick-active{
//   background-color: #fff;
// }

.slick-dots li.slick-active {
  background-color: #03eaa5;
}

.slick-dots li button:before {
  display: none;
}