.contacts{
  width: 100%;
  background-image: url("../../img/fon_contacts.jpg");
  background-repeat: no-repeat;
  display: flex;

  webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 60px;
  // background-color: #201d39;

  &__title{
    font-family: $font-p;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: normal;
    margin-top: 44px;
    margin-bottom: 60px;
    // margin-bottom: 70px;

    @media ( min-width: $screen-sm){
      margin-top: 50px;
    }

    @media ( min-width: $screen-md){
      font-size: 30px;
      margin-top: 60px;
    }

    
  }
}