.filial{
  width: 16.4%;
  display: inline-block;

  @media ( max-width: $screen-sm) {
    width: 24%;
  }
  // margin-right: 0;

  &__title{
    font-family: $font-p;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: normal;

    @media ( max-width: $screen-xs){
      display: block;
      width: 50%;
      // float: left;
    }
  }

  &__title:before{
    content:'';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #89c1a1;
    margin-right: 15px;
  }

  &__manager{
    margin-top: 20px;
    font-family: $font-p;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-weight: normal;

    @media ( max-width: $screen-xs){
      display: none;
    }
  }

  &-connections{
    margin-top: 40px;
    margin-bottom: 140px;

    @media ( max-width: $screen-xs){
      display: none;
    }
  
    &__el{
      font-family: $font-p;
      font-size: 14px;
      line-height: 24px;
      color: #fff;
      text-decoration: none;
      font-weight: normal;
    }
  }

  &__modal-window{
    display: none;
  }

}