.footer{
  width: 100%;
  background-color: #201b38;


  &-content{
    // display: inline-block;
    // text-align: center;
    overflow: hidden;
    display: flex;
  justify-content: center;

    @media ( min-width: $screen-sm){
      float: right;
    }
  }

  &__text{
    font-family: $font-h;
    font-size: 12px;
    // line-height: 36px;
    color: #fff;
    font-weight: normal;
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;

    @media ( min-width: $screen-sm){
      font-size: 14px;
    }

    @media ( min-width: $screen-md){
      font-size: 16px;
    }

  }

  &__tel{
    font-family: $font-h;
    font-size: 12px;
    // line-height: 36px;
    color: #fff;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 35px;

    @media ( min-width: $screen-sm){
      font-size: 14px;
    }

    @media ( min-width: $screen-md){
      font-size: 16px;
    }    
  }
}