.footer{
  width: 100%;
  background-color: #201b38;
  display: flex;

  &-content{
    float: right;

    @media ( max-width: $screen-xs){
      justify-align: center;
    }
  }

  &__text{
    font-family: $font-h;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    font-weight: normal;
    display: inline-block;
    margin-right: 30px;

    @media ( max-width: $screen-xs){
      font-size: 12px;
    }
  }

  &__tel{
    font-family: $font-h;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    font-weight: normal;
    display: inline-block;

    @media ( max-width: $screen-xs){
      font-size: 12px;
    }
  }
}