.header {
  // background-color: #acd6c4;
  background-image: url("../img/fon1.jpg");
  background-position: 0 -100px;
  background-repeat: no-repeat;

  webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 552px;

}