.logo{
  // width: 100%;
  width: 45px;
  height: 45px;
  display: inline-block;
  transition: all 0.3s;
  opacity: 0.9;

  @media ( min-width: $screen-sm){
    width: 78px;
    height: 78px;
  }

  @media ( min-width: $screen-md){
    width: 100px;
    height: 100px;
  }
}

.logo:hover{
  transform: scale(1.5);
  opacity: 1;
}