.main-nav {
  background: rgba(28, 21, 49, 0.5);
  display: flex;

  &__list {
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @media ( max-width: $screen-xs){
      overflow: hidden;
      display: block;
      margin-top: 120px;
    }
  }


  &__item {
    display: inline-block;
    // justify-content: flex-end;
    @media ( max-width: $screen-xs){
      float: left;
      display: block;
      width: 100%;
    }
  }


  &__link {
    text-decoration: none;
    font-family: $font-p;
    font-style: 16px;
    line-height: 36px;
    color: #fff;
    margin: 24px 0;

    @media ( max-width: $screen-xs){
      text-align: center;
    }
  }

  @media ( max-width: $screen-xs) {
    margin-left: 0;
    float: left;
    background-color: #1c1531;
    // background-position: -15px 0;
    margin-left: -5px;
    display: block;
    width: 137px;
    height: 450px;
    overflow: hidden;
  }

}