.map{
  display: block;
  width: 100%;

  @media ( min-width: $screen-sm){
    display: inline-block;
    width: 50%;
    float: left;
  }
  // width: 55%;

  &-img{
    width: 100%;
    height: 334px;
    // width: 670px;
    // height: 531px;
    @media ( min-width: $screen-md){
      height: 531px;
    }
  }
}