.nav-burger {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // border: 1px solid #fff;
  // padding-top: 10px;

  @media (min-width: $screen-sm){
    display: none;
  }
}

.burger-open{
    display: block;
    background-image: url("../img/polosi.png");
    margin-top: 10px;
    margin-left: 10px;
}

.burger-close{
    background-image: url("../img/krest.png");
    display: block;
}