.prices{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;

  @media ( min-width: $screen-sm){
    background-color: #eaeaec;
  }

  @media ( min-width: $screen-md){
    background-color: #fff;
  }


  &__title{
    font-family: $font-p;
    font-size: 20px;
    // line-height: 30px;
    color: #4d4b5c;
    font-weight: normal;

    @media ( min-width: $screen-md){
      font-size: 30px;
    }
  }

  &-filial{
    color: #191c3f;
    font-family: $font-p;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    font-weight: normal;
    display: block;
    width: 100%;
    // width: 16%;
    margin-bottom: 20px;
    overflow: hidden;

    @media ( min-width: $screen-md){
      font-size: 20px;
      // display: block;
      // width: 100%;
    }

    &--active{
      color: #89c1a1;
    }
  
    &:after{
      content:'>';
      width: 7px;
      height: 12px;
      // line-height: 24px;
      display: inline-block;
      color: #494949;
      margin-left: 15px;
      vertical-align: top;
    }

    &--active:after{
      transform: rotate(90deg);
      color: #89c1a1;
      vertical-align: middle;
    }
}

  &-table{
    // display: none;
    // border: 1px solid #000;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    display: inline-flex;
    border-collapse: collapse;
    font-size: 10px;
    color: #201c38;

    @media ( min-width: $screen-md){
      font-size: 16px;
    }

    &__head{
      font-weight: bold;
    }
  }

table, th, td {
    border: 1px solid black;
}

dd {
  margin: 0 1%;
}

  &-table td{
    // border-bottom: 1px solid #000;
    padding: 10px 20px;
  }

  &__more{
    margin-top: 20px;
    color: #201c38;
    font-family: $font-h;
    font-size: 12px;
    margin-bottom: 50px;

    @media ( min-width: $screen-md){
      font-size: 16px;
    }
  }

}

.accordion{
  // display: inline-block;
  @media ( min-width: $screen-sm){
    display: none;
  }
}

.accordion dt{
  display: block;
  // overflow: hidden;
}