.side-bar {
  display: inline-block;
  // float: right;
  // background-color: #1c1531;
  background: rgba(28, 21, 49, 0.5);
  height: 502px;
  width: 35px;
  padding: 0 5px;
  overflow: hidden;
 // width: 100%; 
  // width: 540px;

  position: absolute;
  // position: fixed;
  // bottom: 0;
  top: 0;
  right: 0;
  // right: -15%;
  // margin-right: 0;
  // margin-bottom: 0;

  @media (min-width: $screen-sm){
    display: none;
  }

  @media (min-width: $screen-md){
    display: inline-block;
    height: 552px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    font-family: $font-h;
    font-size: 12px;
    // line-height: 36px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 300px;
    margin-left: -17px;
    // margin-right: -10px;
    // margin-right: 10px;
    // float: left;
    // overflow: hidden;
    // vertical-align: top;
    // text-align: left;
    // vertical-align: middle;
    transform: rotate(-90deg);
  }


  // @media ( min-width: $screen-xs) {
  //   display: none;
  // }

  // @media ( min-width: $screen-sm) {
  //   display: block;
  // }

}