.slider-place{
  width: 100%;
  display: inline-block;

  @media ( min-width: $screen-sm){
    width: 50%;
  }
}

.slider-wrapper{
    width: 90%;
    display: inline-block;
    margin-left: 0;


    @media ( min-width: $screen-sm){
      margin-left: 50px;
      // width: 50%;
    }

    @media ( min-width: $screen-md){
      margin-left: 80px;
    }
    
    // float: left;
    // width: 200px;
}

.slider {
  // width: 45%;
  // overflow: hidden;
  z-index: 1;

  &__item {
    color: #fff;
    font-family: $font-h;
    font-size: 12px;
    line-height: 20px;
    display: block;
    width: 100px;
    overflow: hidden;
    margin-bottom: 50px;
    width: 293px;
    // margin: 0 40px;
    // width: 240px;

    @media ( min-width: $screen-sm){
      color: #201c38;
    }

    @media ( min-width: $screen-md){
      width: 400px;
      font-size: 16px;
      line-height: 30px;
    }
  }

  &__item__left{
    float: left;
    width: 35%;
  }

  &__item__right{
    width: 65%;
    float: right;
    background-image: url("../../img/message.png");
    background-position: -10px -10px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
  }
}


// SLIDER SLICK

.slick-prev:before, .slick-next:before {
  display: none;
}

.slick-prev{
  display: none;
  outline: none;
}

.slick-prev:after{
  display: none;

  @media ( min-width: $screen-sm){
    display: inline-block;
    float: right;
    content:'A';
    color: #03eaa5;
    font-size: 37px;
    font-weight: bold;
    transform:rotate(-90deg);
    vertical-align: middle;
    // margin-right: 45px;
  }

  @media ( min-width: $screen-md){
    font-size: 56px;
  }
}


.slick-next{
    display: none;
    outline: none;
}

.slick-next:after{
  display: none;

  @media ( min-width: $screen-sm){
    display: inline-block;
    float: right;
    content:'A';
    color: #03eaa5;
    font-size: 37px;
    font-weight: bold;
    transform:rotate(90deg);
    // margin-left: 100px;
  }

  @media ( min-width: $screen-md){
    font-size: 56px;
  }
}

.slick-dots {
  display: inline-block;
  text-align: left;
  // margin-top: 60px;
}

.slick-dots li{
  width: 15px;
  height: 15px;
  background-color: #f7f7f7;
  margin: 0 10px;

  @media ( min-width: $screen-sm){
    width: 10px;
    height: 10px;
  }

  @media ( min-width: $screen-md){
    width: 15px;
    height: 15px;
  }
}

.comments-slider .slick-dots li{
 
  // margin-right: 25px;
}

// .slick-dots li .slick-active{
//   background-color: #fff;
// }

.comments-slider .slick-dots li.slick-active {
  background-color: #2f4159;
}

.slick-list {
  width: 100%;

  @media ( min-width: $screen-sm){
  // width: 293px;
  width: 80%;
  }
}
