.socials{
  text-align: right;
  margin-bottom: 60px;
  margin-top: 10px;

  @media ( min-width: $screen-md){
    margin-bottom: 120px;
  }

  &__link{
    display: inline-block;
  }

  &__el{
    width: 38px;
    height: 38px;
    vertical-align: middle;
    margin-left: 10px;

    &--vk{
      width: 38px;
      height: 22px;
    }
  }

}