.social {
  display: inline-block;
  color: #fff;
  text-align: center;
  margin-left: 5px;
  // float: right;
  &--vk {
    margin-top: 40px;
    margin-right: 10px;
  }
  // float: right;
  // margin-right: 40px;
  // vertical-align: middle;
  // transform: rotate(90deg);
  // text-align: center;

  &__icon{
    width: 25px;
    height: 15px;
  }
}