.steps{
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.step{
  display: inline-block;
  width: 33%;
  margin-top: 0;
  vertical-align: top;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;

  @media ( max-width: $screen-xs){
    display: block;
    margin-left: 20px;
  }

  &-number{
    display: inline-block;
    color: #e6e6e6;
    font-size: 45px;
    font-weight: bold;
    font-family: $font-h;
    margin-bottom: 0;

    @media ( max-width: $screen-xs){
      font-size: 27px;
    }
  }

  &-text{
    color: #201c38;
    font-family: $font-h;
    font-size: 16px;
    line-height: 30px;
    vertical-align: top;
    position: relative;
    margin-bottom: 60px;

    @media ( max-width: $screen-xs){
      margin-bottom: 0;
      font-size: 12px;
    }
  }
}

.step:before{
    content:'';
    width: 15px;
    height: 15px;
    background-color: #03eaa5;
    display: inline-block;
    position: absolute;
    top: 82px;

     @media ( max-width: $screen-xs){
      transform: rotate(90deg);
      position: absolute;
      top: 37px;
      left: -15px;
     }
}

.step:after{
    content:'';
    width: 101%;
    height: 2px;
    background-color: #03eaa5;
    display: inline-block;
    position: absolute;
    top: 90px;

    @media ( max-width: $screen-xs){
      transform: rotate(90deg);
      width: 110%;
      position: absolute;
      top: 100px;
      left: -65px;
     }
}

.step:last-child:after{
  @media ( max-width: $screen-xs){
    display: none;
  }
}

// .step:before, .step:after {
//   position: absolute;
//   top: 90px;
// }

