.tabs-block{
  display: none;

  @media ( min-width: $screen-sm){
    display: block;
  }
}

.tabs{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tabs li{
  margin: 0 20px;
  font-size: 12px;
  line-height: 16px;
  color: #191c3f;
  font-family: $font-p;
  font-weight: normal;
  // overflow: hidden;
  display: inline-block;

  @media ( min-width: $screen-md){
      font-size: 20px;
  }
}

.tabs li.active{
  color: #89c1a1;
}

.tabs li:after{
      content:'>';
      width: 7px;
      height: 12px;
      // line-height: 24px;
      display: inline-block;
      color: #494949;
      margin-left: 15px;
      vertical-align: top;
}

.tabs li.active:after{
      transform: rotate(90deg);
      color: #89c1a1;
      vertical-align: middle;
}

.tabs_container{
  width: 100%;
  overflow: auto;
}

.tab_content{
  padding: 10px;
  display: none;
}

.tab_drawer_heading { display: none; }

.prices-table__header {
  font-weight: bold;
}

.d_active{
  color: #89c1a1;
}



