.title{
  // font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  color: #362e13;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px;

  @media ( min-width: $screen-sm){
    font-size: 24px;
  }

  @media ( min-width: $screen-md){
    margin-bottom: 40px;
  }

  &--white{
  color: #fff;
  }

  &--black{
  color: #362e13;
  }

  &--footer{
    text-align: right;
    margin-bottom: 50px;
    

    @media ( min-width: $screen-md){
      margin-top: 80px;
      margin-bottom: 220px;
    }
  }
}