.where-when{
  width: 100%;
  // display: block;
  // margin-bottom: 0;
  // padding-bottom: 0;
  display: flex;
  overflow: hidden;

  @media ( min-width: $screen-sm){
      background-color: #eaeaec;
  }

  @media ( min-width: $screen-md){
    background-color: #fff;
  }

  &__block{
    display: block;
    width: 90%;
    overflow: hidden;

    @media ( min-width: $screen-sm){
      display: inline-block;
      width: 48%;
      float: right;
      // padding-left: 10px;
      overflow: hidden;
      position: relative;
      // position: relative;
    }
    // float: right;
    // padding-left: 30px;

    // @media ( max-width: $screen-xs){
    //   display: block;
    //   width: 100%;
    // }
  }

  &__title{
    font-family: $font-p;
    color: #4d4b5c;
    font-size: 20px;
    font-weight: normal;

    @media ( min-width: $screen-md){
      font-size: 30px;
    }
  }

  &__text{
    font-family: $font-h;
    color: #4d4b5c;
    font-size: 12px;
    line-height: 19px;

    @media ( min-width: $screen-sm){
    margin-top: 90px;
    }

    @media ( min-width: $screen-md){
      font-size: 16px;
    line-height: 30px;
    margin-top: 150px;
    // height: 250px;
    }
  }

  &__markers{
    display: flex;
    justify-content: space-between;

    @media ( min-width: $screen-sm){
      position: absolute;
      top: 30%;
      width: 100%;

    }
  }

  &__marker{
    display: inline-block;
    font-size: 10px;
    // line-height: 19px;
    vertical-align: middle;

    @media ( min-width: $screen-md){
      font-size: 16px;
    // line-height: 30px;
    }
  }

  &__marker:before{
    content:'';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ef8989;
    margin-right: 10px;
    vertical-align: middle;

    @media ( min-width: $screen-md){
      width: 15px;
      height: 15px;
    }
  }

  &__marker:nth-child(2):before{
    background-color: #04a8a8;
  }

  &__marker:nth-child(3):before{
    background-color: #cdd63f;
  }

  &__marker:nth-child(4):before{
    background-color: #efb672;
  }
}