.why {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  display: flex;

  &__title{
    margin-bottom: 0;
    // margin-bottom: 10px;
  /*  margin-top: 100px;*/
  }

  &__disc{
    // font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #362e13;

    @media ( min-width: $screen-sm){
    font-size: 16px;
    margin-bottom: 80px;
    }
 }

  &__video{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;

    @media ( min-width: $screen-md){
      // margin-top: 140px;
      margin-bottom: 50px;
    }
  }

  &__video__el{
    width: 90%;
    display: block;
    margin-bottom: 15px;
  /*  float: left;*/
    @media ( min-width: $screen-sm){
      width: 49%;
      display: inline-block;
      margin-bottom: 90px;
    }
  }

  &__video__clip{
    width: 100%;
  /*  width: 460px;
    height: 258px;*/
    text-align: center;
    display: block;
  }

}