@import 'variables.scss';

@import 'global.scss';
@import 'fonts.scss';
@import 'normalize.css';
@import 'slick.scss';
@import 'slick-theme.scss';

// @import 'sprite.scss';

@import 'blocks/header.scss';
@import 'blocks/main-nav.scss';
// @import 'blocks/slide-section.scss';
// @import 'blocks/slider.scss';
@import 'blocks/container.scss';
@import 'blocks/footer.scss';
@import 'blocks/logo.scss';
@import 'blocks/menu.scss';
@import 'blocks/main.scss';
@import 'blocks/promo.scss';
@import 'blocks/title.scss';
@import 'blocks/aboutme.scss';
@import 'blocks/skills.scss';
@import 'blocks/portfilio.scss';